<section class="general-page">
	<x-grid columns="2" columns-s="1">
		<x-cell><h1>{{ '404.title' | t }}</h1></x-cell>
		<x-cell>
			<p>{{ '404.subtext' | t }}</p>
			<p><a href="{{ routes.root_url }}">{{ '404.goBack' | t }}</a></p>
		</x-cell>
	</x-grid>
</section>