{% assign linklist = linklists["brands"] %}
{% assign collections_per_row = settings.frontpage_collections_per_row %}
<div class="listing-page">
<div class="brands">
    <section class="intro">
        <x-grid columns="3" columns-s="1">
            <x-cell><h1>{{ page.title | escape }}</h1></x-cell>
            <x-cell>{{ page.content | escape | strip_html }}</x-cell>
            <x-cell></x-cell>
        </x-grid>
    </section>

    <section class="product">
        <x-grid columns="3" columns-s="1">
            {% render 'collection-brands', linklist: linklist, collections_per_row: collections_per_row %}
        </x-grid>
    </section>
</div>
</div>
{% schema %}
{
  "name": "Brands list",
  "settings": [
    {
      "type": "header",
      "content": "Setup",
      "info": "You need to first setup your brands listing page. [Learn how](https://bullet.docs.openthinking.net/#/customization?id=brand-listing-page)"
    }
  ]
}
{% endschema %}